.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(3px);
    background: #d1ebff;
    -webkit-filter: blur(3px);
}

.swiper-slide-active {
    filter: blur(0);
    background: #fff;
    -webkit-filter: blur(0);
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: none;
    border: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #2e9fd1 !important;
}